<div class="text-center text-black">
<h1>My Dashboard</h1>
</div>

<div class="dashboard-container">

  <div class="yachts-container">
    <div class="text-center text-black">
       <h2>My Yachts</h2>
    </div>

    <% if @yachts.any? %>

      <div class= 'grid'>
        <% @yachts.each do |yacht| %>
         <div>
            <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('ybnb-removebg-preview.png') %>); border-radius: 10px">
                <h3><%= link_to yacht.title, yacht_path(yacht), style: "color: white; text-decoration: none;" %></h3>
            </div>
           
          </div>
        <% end %>

      </div>

    <% else %>
      <p>You have no yachts.</p>
    <% end %>
    <%= link_to "Add a yacht", new_yacht_path, class: "btn btn-flat" %>
  </div>

  <div class="bookings-container">
    <div class="text-center text-black">
      <h2>My Bookings</h2>
    </div>
    <% if @bookings.any? %>
     <div class="grid">

        <% @bookings.each do |booking| %>
          <div style = "card">
            <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url(<%= asset_path('ybnb-removebg-preview.png') %>); border-radius: 10px">
              <h3 style="margin-bottom: 10px"> <%= booking.yacht.title %></h3>

           </div>
            <p style="margin-bottom: 10px">Date: <%= booking.check_in_date %></p>
            <p style="margin-bottom: 10px">Status: <%= booking.booking_status %></p>
            <%= link_to "See Details", "#", class: "btn btn-flat" %>
          </div>
        <% end %>
    </div>
    <% else %>
      <p>You have no bookings.</p>
    <% end %>
  </div>
</div>
<div class="incoming-bookings-container">
  <div class="text-center text-black">
    <h2>Incoming Bookings for My Yachts</h2>
  </div>
  <% if @incoming_bookings.any? %>
    <div class="grid">
      <% @incoming_bookings.each do |booking| %>
        <div class="card">
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('ybnb-removebg-preview.png') %>); border-radius: 10px">
            <h3 style="margin-bottom: 10px"><%= booking.yacht.title %></h3>

          </div>
          <p style="margin-bottom: 10px; margin-top: 10px;">Date: <%= booking.check_in_date %></p>
          <h3 style="margin-bottom: 10px"> <%= booking.booking_status %></h3>
          <%= form_with(model: booking, url: yacht_booking_path(booking.yacht, booking), local: true, method: :patch) do |f| %>
          <div class="form-group d-flex align-items-center justify-content-between mb-3" >
            <%= f.select :booking_status, ['Pending', 'Confirmed', 'Canceled'], { selected: booking.booking_status }, class: "form-control" %>
            <%= f.submit "Update", class: "btn btn-flat", style: "margin-left: 5px;" %>
          </div>
        <% end %>

          <%= link_to "Review", "#", class: "btn btn-update" %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>You have no incoming bookings.</p>
  <% end %>
</div>
