<div class="container mt-5">

  <h1 class="mb-4">My Profile</h1>


  <div class="row">
    <!-- Profile Picture Section -->
    <div class="col-md-3 text-center">
      <% if @user.profile_picture.attached? %>
        <%= image_tag @user.profile_picture, size: "200x200", class: "img-thumbnail" %>
      <% else %>
        <%= image_tag "ybnb-removebg-preview.png", size: "200x200", class: "img-thumbnail rounded-circle" %>
      <% end %>
    </div>

    <!-- Profile Information Section -->
    <div class="col-md-9">
      <p><strong>Email:</strong> <%= @user.email %></p>
      <p><strong>First Name:</strong> <%= @user.first_name %></p>
      <p><strong>Last Name:</strong> <%= @user.last_name %></p>
      <p><strong>Account Created At:</strong> <%= @user.created_at.strftime("%B %d, %Y") %></p>
    </div>
    <div class="mt-4">
      <%= link_to "Edit", edit_user_path(@user), class: "btn btn-flat me-2" %>
    </div>

  </div>

  <!-- Form for updating the profile picture -->
  <div class="mt-4">
    <%= form_with(model: @user, local: true, class: "d-flex flex-column align-items-start") do |form| %>
      <div class="mb-3">
        <%= form.label :profile_picture, "Update Profile Picture" %>
        <%= form.file_field :profile_picture, class: "form-control" %>
      </div>
      <div>
        <%= form.submit "Update Profile", class: "btn btn-update" %>
      </div>
    <% end %>
  </div>
  <div class="mt-4">
    <%= link_to "Reset your password", edit_user_registration_path, class: "btn btn-flat me-2" %>
  </div>
</div>
