<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
      <% if current_user %>
      <h2> Hi, <%= current_user.first_name %>! Welcome to YachtBNB! </h2>
      <% end %>
    <h1>Rent the yacht of your dreams!</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Yachts</h3>
  </div>

  <div class="row">
    <% @yachts.each do |yacht| %>
      <div class="col-12 col-sm-6 col-md-4 mb-3">
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= yacht.photos.attached? ? cl_image_path(yacht.photos.first.key, width: 400, height: 300, crop: :fill): asset_path('ybnb-removebg-preview.png')  %>);">
            <%= link_to yacht.title, yacht_path(yacht), style: "color: white; text-decoration: none;" %>
          </div>
          <div style="display: flex; justify-content: space-between; align-items: center; padding: 10px;">
            <h3> <%= yacht.brand %> </h3>
            <%# test comment %>
            <%= link_to "Book", new_yacht_booking_path(yacht), class: "btn btn-flat" %>
          </div>
          <div style = "padding: 10px;">
              <p>  <%= yacht.description %> </p>
          </div>

          <h3> <%= yacht.brand %> </h3>
      </div>
    <% end %>
  </div>
</div>
