<div class="container-middle">
  <div class="container-content">

    <h1>New Yacht Listing</h1>


    <%= simple_form_for [@yacht] do |f| %>
      <%= f.input :title %>
      <%= f.input :brand %>
      <%= f.input :description %>
      <%= f.input :port %>
      <%= f.input :price_per_hour %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit "Add a new yacht listing", class: "btn btn-flat" %>
    <% end %>

</div>
