
<div class="container-middle">
  <div class="container-content">

          <div class="col-md-8">
          <h1><%= @yacht.title %></h1>

          <%= @yacht.photo.attached? ? cl_image_tag(@yacht.photo.key,
          width: 400, height: 300, crop: :fill) : "" %>


          <p>Brand: <%= @yacht.brand %></p>
          <p>Description: <%= @yacht.description %></p>
          <p>€<%= @yacht.price_per_hour %> per hour</p>
          <p>Port: <%= @yacht.port %></p>
          <%= link_to "Back to all yachts", yachts_path, class: "btn btn-flat" %>
        </div>
    </div>
</div>
