<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1><%= @yacht.title %></h1>

  </div>


  <p class="well"><%= @yacht.brand %></p>
  <p class="well"><%= @yacht.port %></p>
  <p class="well"><%= @yacht.description %></p>




  <hr>
  <%= link_to yachts_path do %>
    <i class="fa-solid fa-arrow-rotate-left"></i> Back to Yacht
  <% end %>
</div>
