
<div class = "container p-5">
  <div class="header p-5">
          <h1><%= @yacht.title %></h1>

    <div id="carousel-container">
       <% if @yacht.photos.attached? %>
        <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <% @yacht.photos.each_with_index do |photo, index| %>
              <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>" aria-current="<%= 'true' if index.zero? %>" aria-label="Slide <%= index + 1 %>"></button>
            <% end %>
          </div>
          <div class="carousel-inner">
            <% @yacht.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= 'active' if index.zero? %>">
                <%= cl_image_tag(photo.key, height: 400, width: 500, style: "object-fit: cover;", class: 'd-block w-100') %>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <% else %>
        <p>No picture available</p>
      <% end %>
    </div>
  </div>
  <div class="content-grid">
    <div class="left-box"><%= render partial: 'yacht_details' %></div>
    <div class="right-box"> <%= render partial: 'bookings/booking_form' %></div>
  </div>
 </div>
